@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM FONTS */
@font-face {
  font-family: myFont;
  src: url('/public/exo.ttf');
}
@font-face {
  font-family: cyborg;
  src: url('/public/cyborg.ttf');
}
.font{
  font-family: myFont;
}
.tooling,
.text-tools{
  font-family: cyborg;
}
/* -------------------------------- */

body{
  background-color: rgba(0, 0, 0, .9);
  font-family: 'Roboto', sans-serif;
}

/* CUSTOM STYLE FOR PROJECT BUTTONS */
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  position: relative;
  animation: shadowPulse 1s infinite linear;

}
.btn::before{
  position: absolute;
  content: '';
  transform: translate(-40%, -50%);
  
}

/* CUSTOM STYLE FOR CAROUSEL */
.thumbs-wrapper{
  display: none;
  width: 100%;
}
.carousel.carousel-slider .control-arrow:hover{
  background-color: #1A5D1A;
}

@keyframes ringPulse {
  0% {
      opacity: 0;
      transform: scale(0.95);
  }

  10% {
      opacity: 1;
  }

  80%, 100% {
      opacity: 0;
      transform: scale(1.5);
  }
}

@keyframes shadowPulse {
  0% {
      box-shadow: 
      0 0 8px 6px transparent,
      0 0 0 0 transparent,
      0 0 0 0 transparent;
  }

  10% {
    box-shadow: 
    0 0 8px 6px #1A5D1A,
    0 0 12px 10px transparent,
    0 0 12px 5px #1A5D1A;
  }

  80%, 100% {
    box-shadow: 
    0 0 8px 6px transparent,
    0 0 0 40px transparent,
    0 0 0 40px transparent;
  }
}
